@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Open+Sans:wght@300&display=swap');

body {
    font-family: Lato;
    background: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}



.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}

.gif {
    height: 100px;
}

#rulesText {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    z-index: 9999;
    font-size: 25px;
}

#rulesText li {
    padding: 10px;
}

#cashOutTexts {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffd600;
    padding: 20px;
    z-index: 9999;
    font-size: 25px;
    border-radius: 10px;
}

#cashOutTexts li {
    padding: 10px;
}

#container {
    min-height: 600px;
    height: auto;
    width: 1440px;
    padding-bottom: 1px;
    margin: px;
    background: -webkit-linear-gradient(to left, #377D3F, #1f5c1f);
    background: linear-gradient(to left, #377D3F, #1f5c1f);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    text-align: center;
    color: white;
    /* z-index: 1; */
}


#bottom {
    width: 1200px;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.bet-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}

#balance {
    padding-top: 7px;
}

section article {
    width: 50%;
    float: left;
}

#bottom section article {
    width: 33%;
}


h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 50px;
    font-family: Gloria Hallelujah;
}

input {
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 30px;
    font-size: 30px;
    color: #000;
    text-align: center;
    outline: none;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button,
input[type="button"] {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    outline: none;
}

#showRulesButton {
    background-color: #ccc8b2;
    margin-left: 160px;
    float: right;
}

#hitButton {
    background-color: #99ff99;
}

#standButton {
    background-color: #99ff99;
    margin-left: 100px;

}

#newGameButton {
    background-color: #ccc8b2;
    margin-left: 100px;
}

#cashOutButton {
    background-color: #ffd600;
    margin-left: 100px;
}

#bet {
    font-size: 15px;
    margin: 0;
    margin-left: 10px;
    padding-right: 10px;
}

.bet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


/*------------------------------------
- COLOR showRulesButton, newGameButton
------------------------------------*/
.alert-showRulesButton,
newGameButton {
    color: #9b9368;
    background-color: #11d11f12c;
    border-color: #115116120;
}

.alert-showRulesButton,
newGameButton hr {
    border-top-color: #10a10b111;
}

.alert-showRulesButton,
newGameButton .alert-link {
    color: #7d7653;
}

.badge-showRulesButton,
newGameButton {
    color: #212529;
    background-color: #ccc8b2;
}

.badge-showRulesButton,
newGameButton[href]:hover,
.badge-showRulesButton,
newGameButton[href]:focus {
    color: #212529;
    background-color: #b7b293;
}

.bg-showRulesButton,
newGameButton {
    background-color: #ccc8b2 !important;
}

a.bg-showRulesButton,
newGameButton:hover,
a.bg-showRulesButton,
newGameButton:focus,
button.bg-showRulesButton,
newGameButton:hover,
button.bg-showRulesButton,
newGameButton:focus {
    background-color: #b7b293 !important;
}

.border-showRulesButton,
newGameButton {
    border-color: #ccc8b2 !important;
}

.btn-showRulesButton,
newGameButton {
    color: #212529;
    background-color: #ccc8b2;
    border-color: #ccc8b2;
}

.btn-showRulesButton,
newGameButton:hover {
    color: #212529;
    background-color: #bdb89c;
    border-color: #b7b293;
}

.btn-showRulesButton,
newGameButton:focus,
.btn-showRulesButton,
newGameButton.focus {
    box-shadow: 0 0 0 0.2rem rgba(204, 200, 178, 0.5);
}

.btn-showRulesButton,
newGameButton.disabled,
.btn-showRulesButton,
newGameButton:disabled {
    color: #212529;
    background-color: #ccc8b2;
    border-color: #ccc8b2;
}

.btn-showRulesButton,
newGameButton:not(:disabled):not(.disabled):active,
.btn-showRulesButton,
newGameButton:not(:disabled):not(.disabled).active,
.show>.btn-showRulesButton,
newGameButton.dropdown-toggle {
    color: #212529;
    background-color: #b7b293;
    border-color: #b1ab8a;
}

.btn-showRulesButton,
newGameButton:not(:disabled):not(.disabled):active:focus,
.btn-showRulesButton,
newGameButton:not(:disabled):not(.disabled).active:focus,
.show>.btn-showRulesButton,
newGameButton.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(204, 200, 178, 0.5);
}

.btn-outline-showRulesButton,
newGameButton {
    color: #ccc8b2;
    background-color: transparent;
    border-color: #ccc8b2;
}

.btn-outline-showRulesButton,
newGameButton:hover {
    color: #212529;
    background-color: #ccc8b2;
    border-color: #ccc8b2;
}

.btn-outline-showRulesButton,
newGameButton:focus,
.btn-outline-showRulesButton,
newGameButton.focus {
    box-shadow: 0 0 0 0.2rem rgba(204, 200, 178, 0.5);
}

.btn-outline-showRulesButton,
newGameButton.disabled,
.btn-outline-showRulesButton,
newGameButton:disabled {
    color: #ccc8b2;
    background-color: transparent;
}

.btn-outline-showRulesButton,
newGameButton:not(:disabled):not(.disabled):active,
.btn-outline-showRulesButton,
newGameButton:not(:disabled):not(.disabled).active,
.show>.btn-outline-showRulesButton,
newGameButton.dropdown-toggle {
    color: #212529;
    background-color: #ccc8b2;
    border-color: #ccc8b2;
}

.btn-outline-showRulesButton,
newGameButton:not(:disabled):not(.disabled):active:focus,
.btn-outline-showRulesButton,
newGameButton:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-showRulesButton,
newGameButton.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(204, 200, 178, 0.5);
}

.list-group-item-showRulesButton,
newGameButton {
    color: #9b9368;
    background-color: #115116120;
}

.list-group-item-showRulesButton,
newGameButton.list-group-item-action:hover,
.list-group-item-showRulesButton,
newGameButton.list-group-item-action:focus {
    color: #9b9368;
    background-color: #10a10b111;
}

.list-group-item-showRulesButton,
newGameButton.list-group-item-action.active {
    color: #212529;
    background-color: #9b9368;
    border-color: #9b9368;
}

.table-showRulesButton,
newGameButton,
.table-showRulesButton,
newGameButton>th,
.table-showRulesButton,
newGameButton>td {
    background-color: #115116120;
}

.table-hover .table-showRulesButton,
newGameButton:hover {
    background-color: #10a10b111;
}

.table-hover .table-showRulesButton,
newGameButton:hover>td,
.table-hover .table-showRulesButton,
newGameButton:hover>th {
    background-color: #10a10b111;
}

.text-showRulesButton,
newGameButton {
    color: #ccc8b2 !important;
}

a.text-showRulesButton,
newGameButton:hover,
a.text-showRulesButton,
newGameButton:focus {
    color: #b7b293 !important;
}


/*------------------------------------
- COLOR hitButton, tandButton
------------------------------------*/
.alert-hitButton,
tandButton {
    color: #1eff1e;
    background-color: #165ff165;
    border-color: #150ff150;
}

.alert-hitButton,
tandButton hr {
    border-top-color: #137ff137;
}

.alert-hitButton,
tandButton .alert-link {
    color: #00ea00;
}

.badge-hitButton,
tandButton {
    color: #212529;
    background-color: #99ff99;
}

.badge-hitButton,
tandButton[href]:hover,
.badge-hitButton,
tandButton[href]:focus {
    color: #212529;
    background-color: #66ff66;
}

.bg-hitButton,
tandButton {
    background-color: #99ff99 !important;
}

a.bg-hitButton,
tandButton:hover,
a.bg-hitButton,
tandButton:focus,
button.bg-hitButton,
tandButton:hover,
button.bg-hitButton,
tandButton:focus {
    background-color: #66ff66 !important;
}

.border-hitButton,
tandButton {
    border-color: #99ff99 !important;
}

.btn-hitButton,
tandButton {
    color: #212529;
    background-color: #99ff99;
    border-color: #99ff99;
}

.btn-hitButton,
tandButton:hover {
    color: #212529;
    background-color: #75ff75;
    border-color: #66ff66;
}

.btn-hitButton,
tandButton:focus,
.btn-hitButton,
tandButton.focus {
    box-shadow: 0 0 0 0.2rem rgba(153, 255, 153, 0.5);
}

.btn-hitButton,
tandButton.disabled,
.btn-hitButton,
tandButton:disabled {
    color: #212529;
    background-color: #99ff99;
    border-color: #99ff99;
}

.btn-hitButton,
tandButton:not(:disabled):not(.disabled):active,
.btn-hitButton,
tandButton:not(:disabled):not(.disabled).active,
.show>.btn-hitButton,
tandButton.dropdown-toggle {
    color: #212529;
    background-color: #66ff66;
    border-color: #56ff56;
}

.btn-hitButton,
tandButton:not(:disabled):not(.disabled):active:focus,
.btn-hitButton,
tandButton:not(:disabled):not(.disabled).active:focus,
.show>.btn-hitButton,
tandButton.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(153, 255, 153, 0.5);
}

.btn-outline-hitButton,
tandButton {
    color: #99ff99;
    background-color: transparent;
    border-color: #99ff99;
}

.btn-outline-hitButton,
tandButton:hover {
    color: #212529;
    background-color: #99ff99;
    border-color: #99ff99;
}

.btn-outline-hitButton,
tandButton:focus,
.btn-outline-hitButton,
tandButton.focus {
    box-shadow: 0 0 0 0.2rem rgba(153, 255, 153, 0.5);
}

.btn-outline-hitButton,
tandButton.disabled,
.btn-outline-hitButton,
tandButton:disabled {
    color: #99ff99;
    background-color: transparent;
}

.btn-outline-hitButton,
tandButton:not(:disabled):not(.disabled):active,
.btn-outline-hitButton,
tandButton:not(:disabled):not(.disabled).active,
.show>.btn-outline-hitButton,
tandButton.dropdown-toggle {
    color: #212529;
    background-color: #99ff99;
    border-color: #99ff99;
}

.btn-outline-hitButton,
tandButton:not(:disabled):not(.disabled):active:focus,
.btn-outline-hitButton,
tandButton:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-hitButton,
tandButton.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(153, 255, 153, 0.5);
}

.list-group-item-hitButton,
tandButton {
    color: #1eff1e;
    background-color: #150ff150;
}

.list-group-item-hitButton,
tandButton.list-group-item-action:hover,
.list-group-item-hitButton,
tandButton.list-group-item-action:focus {
    color: #1eff1e;
    background-color: #137ff137;
}

.list-group-item-hitButton,
tandButton.list-group-item-action.active {
    color: #212529;
    background-color: #1eff1e;
    border-color: #1eff1e;
}

.table-hitButton,
tandButton,
.table-hitButton,
tandButton>th,
.table-hitButton,
tandButton>td {
    background-color: #150ff150;
}

.table-hover .table-hitButton,
tandButton:hover {
    background-color: #137ff137;
}

.table-hover .table-hitButton,
tandButton:hover>td,
.table-hover .table-hitButton,
tandButton:hover>th {
    background-color: #137ff137;
}

.text-hitButton,
tandButton {
    color: #99ff99 !important;
}

a.text-hitButton,
tandButton:hover,
a.text-hitButton,
tandButton:focus {
    color: #66ff66 !important;
}

/* added by Dustin below */
.card {
    width: 150px;
    height: 240px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    position: relative;
    background-color: white;
    overflow: auto;
}

.card .top.left,
.card .bottom.right {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    /* z-index: 3; */
}

.card .top-left {
    position: absolute;
    font-size: 30px;
    padding: 20px;
    top: 0;
    left: 0;
}

.card .bottom-right {
    position: absolute;
    font-size: 30px;
    padding: 20px;
    bottom: 0;
    right: 0;
}

.card.red .top-left,
.card.red .bottom-right {
    color: red;
}

.card.black .top-left,
.card.black .bottom-right {
    color: black;
}

.hidden {
    background-color: black;
    text-indent: -9999px;
}